node_modules
client/node_modules
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.git
.gitignore
README.md
*.md
.vscode
.idea
client/build
tests
.vercel
.DS_Store
*.log

